body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  margin-top: 64px;
}

#main {
  width: 626px;
  margin: 0 auto 32px;
  margin-bottom: 64px;
}

#main img {
  display: block;
  margin: auto;
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis';
  font-weight: normal;
  text-align: center;
  color: #3F3D56;
}

h1 span {
  color: #EE24FF;
  font-weight: bold;
}

p {
  color: #828282;
  font-size: 15px;
}

#footer {
  margin-bottom: 48px;
}

p span, #footer a{
  color: #3F3D56;
  font-weight: bold;
  text-decoration: none;
}

#footer a + a {
  margin-left: 40px;
}

#line {
  width: 391px;
  height: 0px;

  margin: 0 auto 8px;

  border: 1px solid #ECEFF2;
  margin-bottom: 16px;
}

#wave {
  width: 100%;
  bottom: 0px;
  margin-bottom: 0;
}